@charset "UTF-8";

/*font-family: 'Roboto', sans-serif;*/

body, html {
	padding: 0;
	margin: 0;
		background-color:  #E7EAEB;

}

a, a:hover{
	text-decoration: none;
}

/* inscription */

.pb_inscription{
	margin: auto;
	padding-top: 20px;
}
/* 5 lien les plus avec le plus d'intéractions */


/*header*/

.header{
	background-color: #0DD3D5;
	height: 50px;
	line-height: 50px; /*center vertical*/
}


.logo{
	color: white;
	text-transform: uppercase; /*maj*/
	font-weight: bold;
	letter-spacing: 1px;
	float: left;

}

.titre{
	text-align: center;
	margin:auto;
	padding-top: 5px;
}
.menu{
	float: right;
}

.menu a{
	color: white;
	margin-right:20px;

}

.menu a:hover{
	color: grey;
}

.zone_vote{
height:auto;
}

/*corps*/

.publication a{
	color: black;
}

/* partager un lien */
.input_share{
	margin-bottom: 10px;
	margin-top: 10px;
}
.form_share{
	margin-right: 10px;
  margin-left: 10px;
	text-align: center;
}
.publication, .partage{
	padding-top: 10px
}

.avis{
	background-color: grey;
}

.lien{
	text-align: center;
}

.publication a{
	font-size: 13px;
}

.inscription{
	text-align: center;
	margin: auto;
}

.input_co, .connexion
{
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 400px;
}

.titre_lien{
	padding-top: 10px;
	padding-left: 10px;
	float: left;

}

.date, .pseudo{
	font-size: 13px;
	margin-top:3px;

}
.link_vote{
	color:black;
}
/*page lien*/

.page_lien{
		margin: auto;
}

.espace_com{
		padding-top: 10px;

}
